html{
    font-size: 100%;
    background-color: rgb(231, 142, 78);
}

.borde{
    border-style: solid;
    border-color: rgb(96, 4, 4);
    border-width: 5px;
    border-radius: 20px;
}

header{
    background-image:url("../img/libros.jpg");
    background-color: azure; 
}

main{
    display: flex;
    justify-content: row;
}

h1{
    color: azure;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-shadow: rgb(72, 2, 2) 0 -1px 4px, rgb(7, 7, 7) 0 -2px 10px, rgb(231, 7, 7) 0 -20px 20px, darkmagenta 0 -18px 40px;
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    font-size: 1.75rem;
    font-weight: bold;
    color: #fff;
    text-shadow: rgb(72, 2, 2) 0 -1px 4px, rgb(7, 7, 7) 0 -2px 10px, rgb(231, 7, 7) 0 -10px 20px, darkmagenta 0 -18px 40px;  
}

aside{
    width: 25%;
    background-image: url(../img/periodico.jpg);
}

.titulo{
    margin-left: 2%;
    margin-top: 4%;
    color: #fff;
    text-shadow: rgb(72, 2, 2) 0 -1px 4px, rgb(7, 7, 7) 0 -2px 10px, rgb(82, 2, 2) 0 -10px 20px, darkmagenta 0 -18px 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

aside a{
    color: black;
    font-style: italic;
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    margin-right: 7px;
}

h6{
    margin-bottom: 5px;
    font-size: 1.5rem;
    text-shadow: rgb(239, 234, 234) 0 -1px 4px, rgb(7, 7, 7) 0 -2px 10px, rgb(237, 232, 232) 0 -10px 20px, rgb(11, 9, 11) 0 -18px 40px;
}

li{
    margin-left: 20px;
    margin-right: 20px;
    text-shadow: 0px 7px 10px white;
    font-weight: bold;
}

#presentacion{
    width: 60%;
    background-image: url(../img/papiro.jpg); 
}

#presentacion img{
    border-radius: 15%;
    margin-left: 10px;
    margin-right: 20px;
    float: left;
}

#presentacion p{
    font-size: 2rem;
    margin-right: 20px;
    margin-top: 60px;
}

#categorias{
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Negra{
    margin-top: 50px;
    border-style: solid;
    border-radius: 5%;
    padding: 16%;
    background-image: url(../img/negra.jpg);
    background-size: 200px;
    color: #fff;
}

.blanco{
    color: #fff;
    font-size: 1.5rem;
}

#Fantasia{
    border-style: solid;
    border-radius: 5%;
    padding: 26%;
    background-image: url(../img/fantasia.jpg);
    background-size: 200px;
    color: #fff;
    font-size: 1.5rem;
}

#Romantica{
    border-style: solid;
    border-radius: 5%;
    padding: 20%;
    background-image: url(../img/rosa.jpg);
    background-size: 200px;
    font-size: 1.5rem;
}

#Clasicos{
    border-style: solid;
    border-radius: 5%;
    padding: 24%;
    background-image: url(../img/clasico.jpg);
    background-size: 200px;
    font-size: 1.5rem;
    color: #fff;
}

footer{
    text-align: center;
}

#temas{
    width: 75%;  
}

.orden-categoria{
    float: left;
    display:flex;
    justify-content: space-between;
    border: solid rgb(96, 4, 4);
  }

.texto{
    margin-left: 5%;
    font-size: 1.5rem;
    margin-right: 2%;
}
.cursiva{
    font-style: italic;
}

#novela{
    width: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(../img/papel-antiguo.jpg);
}

#resena{
    flex-basis: 75%;
    background-image: url(../img/papel-antiguo.jpg);
    color: #fff;
    text-shadow: 7px 0px 7px rgb(7, 7, 7);
    padding-left: 2% ;
    padding-right: 2%;
}

.imagen-float{
    float: left;
    margin-right: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 1%;
}

.clear{
    clear: both;
}

#formulario{
    flex-basis: 50%;
    background-image: url(../img/cuestionario.jpg);
}

fieldset{
display: flex;
flex-direction: column;
width: 75%;
margin-top: 10%;
margin-left: 10%;
font-size: 1.25rem;
}

#contacto{
    width: 25%;
    background-image: url(../img/papiro.jpg);
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25%;
    
}